ADMIN_NAME=admin
ADMIN_PASSWORD=admin123
MONGODB_URI=mongodb+srv://rupasahoo2004_db_user:OalamakxI57VyDwy@cluster0.d5kugf8.mongodb.net/
DB_NAME=student_management
SECRET_KEY=your-secret-key-here-change-in-production
